@import "../../common/fun_var.pcss";

.-loading-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;

  .-loading-bar-inner {
    background-color: #00a0e9;
    height: 100%;
    transition: all .4s linear, opacity .25s $springAnimation;
    opacity: 100;
    &.down, &.error {
      opacity: 0;
    }
    &.error {
      background-color: red;
    }
  }
}